In [2]:
import pandas as pd
import numpy as np

In [3]:
desafio1 = pd.read_csv("desafio1.csv")

In [24]:
desafio1.head(10)

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,182bff59b8d8ad2e09c9dc0492586cfb5f2bf3c0,17b36a252f28a7cc909678dfa24861821995721f,515,RS,M,35,10,176273.95,1,0,1
96,97,fcea445299f2847d4b1f9a29f0b361e398af1383,4693463940afaddeca1e3a8b3a3db1605833a042,773,RS,M,41,9,102827.44,1,0,1
97,98,fd000f80f25201604827e01d63a5bc7081f01886,23bb824fa9d465bd3cb2139ec7075a2538fbea06,814,PR,M,29,8,97086.40,2,1,1
98,99,96056a1e418ba7d32c4d5be4f7f541dd5ccba338,6fe9d30d12ac465cb4ea630f9560269a24fe15e1,710,RS,M,22,8,0.00,2,0,0
99,100,c8ffb9f26127b8c4e4e15e73c1f1d6fa062b5366,5d09149fa300a5f6b714f9900fa0bd9650e31061,413,SC,M,34,9,0.00,2,0,0

In [7]:
desafio1.loc[(desafio1['estado_residencia']=='SC')].describe()

,RowNumber,pontuacao_credito,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
count,3519.000000,3519.000000,3519.000000,3519.000000,3519.000000,3519.000000,3519.000000,3519.000000
mean,3540.096334,649.537653,38.482523,4.999147,62439.046206,1.525718,0.707019,0.512930
std,2011.598038,97.233493,10.438165,2.892670,64304.799912,0.571102,0.455194,0.499904
min,1.000000,359.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,1810.500000,581.000000,31.000000,2.000000,0.000000,1.000000,0.000000,0.000000
50%,3521.000000,653.000000,37.000000,5.000000,63093.010000,1.000000,1.000000,1.000000
75%,5271.000000,717.000000,43.000000,7.000000,121885.285000,2.000000,1.000000,1.000000
max,7000.000000,850.000000,92.000000,10.000000,238387.560000,4.000000,1.000000,1.000000

In [8]:
desafio1.loc[(desafio1['estado_residencia']=='RS')].describe()

,RowNumber,pontuacao_credito,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
count,1750.000000,1750.000000,1750.000000,1750.000000,1750.000000,1750.000000,1750.000000,1750.000000
mean,3487.801143,651.105143,39.124000,5.007429,62169.610400,1.529714,0.685714,0.527429
std,2038.163427,95.136598,10.664972,2.837600,64122.612525,0.563800,0.464363,0.499390
min,2.000000,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,1696.250000,585.000000,32.000000,3.000000,0.000000,1.000000,0.000000,0.000000
50%,3546.000000,650.000000,38.000000,5.000000,63996.470000,1.000000,1.000000,1.000000
75%,5243.250000,717.000000,44.000000,8.000000,121003.972500,2.000000,1.000000,1.000000
max,6999.000000,850.000000,88.000000,10.000000,250898.090000,4.000000,1.000000,1.000000

In [9]:
desafio1.loc[(desafio1['estado_residencia']=='PR')].describe()

,RowNumber,pontuacao_credito,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
count,1731.000000,1731.000000,1731.000000,1731.000000,1731.000000,1731.000000,1731.000000,1731.00000
mean,3432.841710,648.961294,39.492779,5.035817,119458.904945,1.522819,0.713460,0.49509
std,2021.329878,98.607186,10.286044,2.928214,27063.114013,0.625031,0.452275,0.50012
min,8.000000,350.000000,18.000000,0.000000,27517.150000,1.000000,0.000000,0.00000
25%,1698.000000,581.000000,32.000000,3.000000,102476.800000,1.000000,0.000000,0.00000
50%,3388.000000,650.000000,38.000000,5.000000,119336.290000,1.000000,1.000000,0.00000
75%,5206.000000,719.500000,45.000000,8.000000,137399.380000,2.000000,1.000000,1.00000
max,6992.000000,850.000000,84.000000,10.000000,214346.960000,4.000000,1.000000,1.00000

In [15]:
desafio1_estado = desafio1.groupby(['estado_residencia'])
desafio1_estado['pontuacao_credito'].quantile()

estado_residencia
PR    650.0
RS    650.0
SC    653.0
Name: pontuacao_credito, dtype: float64

In [27]:
select_SC = desafio1.loc[(desafio1['estado_residencia']=='SC')]
select_SC['pontuacao_credito'].value_counts().keys()[0]

850

In [28]:
select_RS = desafio1.loc[(desafio1['estado_residencia']=='RS')]
select_RS['pontuacao_credito'].value_counts().keys()[0]

850

In [26]:
select_PR = desafio1.loc[(desafio1['estado_residencia']=='PR')]
select_PR['pontuacao_credito'].value_counts().keys()[0]

850